# .env.dist:jeff
#
# Environmental defaults for Docker compose project
#
# IMPORTANT(JEFF): This file and its contents should be considered
# **sensitive** data and therefore should **never** be checked into revision
# control, such as git nor any other public medium. This includes any kind of
# archive that is shared. Simply put, this file should never leave this
# machine outside of (perhaps) offsite backups.
#

TZ=
LC_TIME=

SERVICE_DB_PORT=5432
SERVICE_DB_USER=
SERVICE_DB_PASSWORD=
SERVICE_DB_NAME=
SERVICE_DB_ENGINE=postgresql
SERVICE_DB_HOST=service-db

SERVICE_WEB_PORT=

SERVICE_SITE_URL="https://service.fs1.home"
SERVICE_EXT_VOLUME=mounts

SERVICE_TAG=latest

SERVICE_ADMIN_USER=
SERVICE_ADMIN_PASSWORD=
SERVICE_ADMIN_EMAIL=

